<div class="matrix-container" #matrix>
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
  </div>
  <!-- Notification component -->
  <app-notification
    [message]="aiResponse"
    *ngIf="aiResponse"
    [title]="aiTitle"
    (closeNotification)="closeNotification()"
  ></app-notification>


  <!-- Flex container for title and button with label -->
  <div class="header-container">
    <h1 class="title">{{ getTitle() }}</h1>
    <div class="ai-suggestion-container" *ngIf="selectedNodes.length > 0">
      <div class="ai-title">AI suggestion on connections</div>

      <!-- Conditionally show either the loading spinner or the button -->
      <div *ngIf="aiLoading" class="ai-loading-spinner"></div>
      
      <div 
        class="ai-button" 
        *ngIf="!aiLoading"
        (click)="handleButtonClick()" 
    
        [ngStyle]="{'visibility': selectedNodes.length > 0 ? 'visible' : 'hidden'}"
        [style.cursor]="'pointer'"
      >✧</div>
        <!--   (mouseover)="showTooltip($event)" 
        (mouseout)="hideTooltip()" -->
    </div>
  </div>

  <figure class="matrix-svg-container"></figure>
  <div id="tooltip" class="tooltip" style="display: none;"></div>

</div>
