<div class="matrix-container" #matrix>
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
  </div>
  <!-- Notification component -->
  <app-notification
    [message]="aiResponse"
    *ngIf="aiResponse"
    [title]="aiTitle"
    (closeNotification)="closeNotification()"
  ></app-notification>


  <!-- Flex container for title and button with label -->
  <div class="header-container">
    <h1 class="title">{{ getTitle() }}</h1>
    
    <!-- Add the search bar container -->
    <div class="search-bar-container">
      <input
        type="text"
        id="artistSearch"
        [(ngModel)]="searchQuery"
        (input)="onArtistSearch()"
        placeholder="Search for an artist..."
        class="artist-search"
      />
      <ul *ngIf="filteredArtists.length > 0" class="autocomplete-list">
        <li *ngFor="let artist of filteredArtists" (click)="selectArtist(artist)">
          {{ artist.name }}
        </li>
      </ul>
      <div *ngIf="notInCurrentRange && searchedArtist !== null" class="info-text">
        Artist you are searching for is currently not displayed in the cluster. Change the range to {{ searchedArtist.artworks }}.
      </div>
    </div>
    
    <div class="ai-suggestion-container" [ngStyle]="{'opacity': selectedNodes.length > 0 ? '1' : '0'}">
      <div class="ai-title">AI suggestion on connections</div>
      <div 
        class="ai-button" 
        *ngIf="!aiLoading"
        (click)="handleButtonClick()" 
        [ngStyle]="{'visibility': selectedNodes.length > 0 ? 'visible' : 'hidden'}"
        [style.cursor]="'pointer'"
      >✧</div>
    </div>
  </div>
  <div *ngIf="aiLoading" class="ai-loading-spinner"></div>


  <figure class="matrix-svg-container"></figure>
  <div id="tooltip" class="tooltip" style="display: none;"></div>

</div>
