<div class="container">
  <div class="wrapper">
    <div class="top-section">
      <div class="sidebar-left">
        <app-decisions></app-decisions>
        <app-map></app-map>
        <app-map></app-map>
      </div>
      <div class="center-section">
        <div class="cluster-center">
          <app-clusterVisualization></app-clusterVisualization>
        </div>
        <div class="barchart-bottom">
          <app-barchart></app-barchart>
        </div>
      </div>
      <div class="sidebar-right">
<!--         <app-focusOnCluster [displayValue]="value1"></app-focusOnCluster>
<app-focusOnCluster [displayValue]="value2"></app-focusOnCluster>
<app-focusOnCluster [displayValue]="value3"></app-focusOnCluster> -->
<app-map></app-map>
<app-map></app-map>
<app-map></app-map>
      </div>
    </div>
  </div>
</div>
