.container {
  display: flex;
  height: 100vh; /* Make the container take the full height of the viewport */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.wrapper {
  display: flex;
  flex-direction: row; /* Arrange children in a row */
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 10%; /* Sidebar takes 10% of the width */
  display: flex;
  flex-direction: column; /* Stack sidebar items vertically */
  padding: 10px; /* Add padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.main-content {
  width: 90%; /* Main content takes the remaining 90% */
  display: flex;
  flex-direction: column; /* Stack main content items vertically */
  padding: 10px; /* Add padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.main-content app-clusterVisualization {
  flex-grow: 1; /* Cluster visualization takes up remaining vertical space */
}

.main-content app-barchart {
  height: auto; /* Let the bar chart height adjust based on its content */
}

app-decisions, app-placeholder, app-clusterVisualization, app-barchart {
  border: 2px solid #ccc; /* Border around each individual component */
  padding: 10px; /* Add padding inside each component to space out the content */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  margin-bottom: 10px; /* Add margin between stacked components */
}
