<div class="artist-gantt-container" #artistGantt>
   <!-- Display loading indicator if data is still loading -->
   <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
</div>
  <ng-container *ngIf="!isLoading">
      <h1 *ngIf="!selectedArtists">Overview of Birth and Death years of all artists</h1>
      <h1 *ngIf="selectedArtists && selectedArtists.length > 1">Overview of Birth and Death of selected Cluster</h1>
      <h1 class="noMargin" *ngIf="selectedArtists && selectedArtists.length === 1">
          Birth and death year of artist
      </h1>
  </ng-container>
  <figure class="artist-gantt-svg-container"></figure>
  <div id="tooltip" class="tooltip" style="display: none;"></div>

 
</div>
