.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    padding: 1vw;
    height: 100%; /* Ensures the div takes up the full height of its container */
    text-align: center; /* Centers the text within the div */
}

