<div class="barchart-container" #barChart>
  <ng-container *ngIf="!isLoading">
    <p *ngIf="!selectedArtists">Overview of Techniques of all {{ allArtists.length }} artists</p>
    <p *ngIf="selectedArtists && selectedArtists.length > 1">Overview of Techniques of Cluster with {{ selectedArtists.length }} artists</p>
    <p *ngIf="selectedArtists && selectedArtists.length === 1">
      Technique distribution of Artist: {{ selectedArtists[0].firstname }} {{ selectedArtists[0].lastname }}
    </p>

  </ng-container>
      <figure class="svg-container"></figure>

  <!-- Display loading indicator if data is still loading -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
  </div>
</div>
