/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1vw; 
  color:#2a0052 ;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
  }
  
  /* Optional: you can also reset margins and paddings to ensure consistency */
  body, html {
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 2vw;
    font-weight:600;
  }


  .custom-slider.ngx-slider .ngx-slider-bar {
    background-color: #a23fff !important; /* Custom color for the slider bar */
}

.custom-slider.ngx-slider .floor-label {
  font-size: 0.5vw !important; /* Custom color for the slider bar */
  font-family: 'Roboto', sans-serif!important;
}

  
.custom-slider .ngx-slider .ngx-slider-pointer {
    background-color: #e5aeff !important; /* White pointers */
    border-color:  #a23fff !important; /* Blue border around pointers */
}

.custom-slider .ngx-slider .ngx-slider-selection {
    background-color: #a23fff !important; /* Custom color for the selected range */
}

.custom-slider .ngx-slider .ngx-slider-tick {
    background-color: #e5aeff !important; /* Light blue color for the ticks */
}

.custom-slider .ngx-slider .ngx-slider-tick-label {
    color: #a23fff!important; /* Darker purple color for the tick labels */
}
.custom-slider .ngx-slider .ngx-slider-span,
.custom-slider .ngx-slider .ngx-slider-model-value,
.custom-slider .ngx-slider .ngx-slider-high-value,
.custom-slider .ngx-slider .ngx-slider-tick-value,
.custom-slider .ngx-slider .ngx-slider-tick-legend {
  color:#2a0052 !important;
  font-weight:600!important;
    font-size: 0.5vw !important; /* Adjust font size as needed */
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0.02vw;
  background: rgb(204, 204, 204);
  font-weight: 600;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
  opacity: 0.9;
  color: rgb(0, 0, 0);
  z-index: 10000; /* Ensure the tooltip is in front */
}

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  