/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-size: 20px;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
  }
  
  /* Optional: you can also reset margins and paddings to ensure consistency */
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Redundant due to the global rule, but ensures body and html have the desired size */
  }
  h1{
    font-size: 35px;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    background: rgb(204, 204, 204);
    font-weight:600;
    border: 0px;
    border-radius: 8px;
    pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
    opacity: 0.9;
    color: rgb(0, 0, 0);
  }
  
