<div class="dropdown-container">
  <div class="dropdown-group">
    <label for="artistSearch" class="dropdown-label">Search for an artist:</label>
    <input
      type="text"
      id="artistSearch"
      [(ngModel)]="searchQuery"
      (input)="onArtistSearch()"
      placeholder="Type artist name..."
      class="dropdown"
    />
    <ul *ngIf="filteredArtists.length > 0" class="autocomplete-list">
      <li *ngFor="let artist of filteredArtists" (click)="selectArtist(artist)">
        {{ artist.name }}
      </li>
    </ul>
    <div *ngIf="notInCurrentRange && searchedArtist !== null" class="info-text">
      Artist you are searching for is currently not displayed in the cluster. Change the range to {{ searchedArtist.artworks }}.
    </div>
  </div>
  <div class="dropdown-group">
    <label for="dropdown" class="dropdown-label">Select sunburst categories:</label>
    <select class="dropdown" (change)="onSunburstChange($event)">
      <option *ngFor="let option of SunburstOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div class="dropdown-group">
    <label for="dropdown" class="dropdown-label">Select node size:</label>
    <select class="dropdown" (change)="onSizeChange($event)">
      <option *ngFor="let option of SizeOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

<!--   <div class="dropdown-group">
    <label for="dropdown" class="dropdown-label">Select inner order:</label>
    <select class="dropdown" (change)="onOrderChange($event)">
      <option *ngFor="let option of OrderOptions" [value]="option">{{ option }}</option>
    </select>
  </div> -->

  <!-- 
  <div class="dropdown-group">
    <label for="dropdown" class="dropdown-label">Select edge thickness:</label>
    <select class="dropdown" (change)="onThicknessChange($event)">
      <option *ngFor="let option of ThicknessOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
-->
  <!-- Addition of ngx-slider for selecting range -->
  <div class="dropdown-group">
    <label class="dropdown-label">Select the range of attended exhibitions to filter artists:</label>
    <div class="dropdown-group2">
      <div class="custom-slider">
      <ngx-slider [(value)]="range[0]" [(highValue)]="range[1]" [options]="options" (valueChange)="onRangeSliderChange()"></ngx-slider>
    </div>
      <div class="checkbox-group">
        <input type="checkbox" id="confirmRange" [(ngModel)]="useRange" (change)="onRangeChange()" hidden/>
        <label for="confirmRange" class="custom-checkbox">
          <i class="fas fa-check" *ngIf="useRange"></i>
        </label>
      </div>
    </div>
    <!-- <p class="dropdown-description">Use the slider to set the range of artworks. Only artists who have exhibited artworks within this range will be shown.</p>--->
    <div *ngIf="rangeChanged" class="green-label">To apply, click on the checkbox on the right</div>
  </div>

  <div class="dropdown-group">
    <label class="dropdown-label">Select amount of clusters (dependent on artists):</label>
    <div class="dropdown-group2">
      <div class="custom-slider">
      <ngx-slider [(value)]="k" [options]="kOptions" (valueChange)="onKSliderChange()"></ngx-slider>
    </div>
      <div class="checkbox-group">
        <input type="checkbox" id="confirmK" [(ngModel)]="useK" (change)="onKChange()" hidden/>
        <label for="confirmK" class="custom-checkbox">
          <i class="fas fa-check" *ngIf="useK"></i>
        </label>
      </div>
    </div>
    <div *ngIf="showK" class="info-text">Before visualization updates choose amount of clusters for {{ numberOfArtists }} artists.</div>
    <div *ngIf="kChanged" class="green-label">To apply, click on the checkbox on the right</div>
  </div>

 
 



<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
