<div class="dropdown-container">

  <div class="dropdown-group">
    <!-- Label for the dropdown button -->
    <label for="dropdown" class="dropdown-label">Select sunburst categories:</label>
    <!-- Dropdown button -->
    <select class="dropdown" (change)="onSunburstChange($event)">
      <option *ngFor="let option of SunburstOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div class="dropdown-group">
  <!-- Label for the dropdown button -->
  <label for="dropdown" class="dropdown-label">Select node size:</label>
  <!-- Dropdown button -->
  <select class="dropdown" (change)="onSizeChange($event)">
    <option *ngFor="let option of SizeOptions" [value]="option">{{ option }}</option>
  </select>
</div>
  <div class="dropdown-group">
  <!-- Label for the dropdown button -->
  <label for="dropdown" class="dropdown-label">Select inner order:</label>
  <!-- Dropdown button -->
  <select class="dropdown" (change)="onOrderChange($event)">
    <option *ngFor="let option of OrderOptions" [value]="option">{{ option }}</option>
  </select>
</div>
  <div class="dropdown-group">
    <!-- Label for the dropdown button -->
    <label for="dropdown" class="dropdown-label">Select edge thickness:</label>
    <!-- Dropdown button -->
    <select class="dropdown" (change)="onThicknessChange($event)">
      <option *ngFor="let option of ThicknessOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

<!-- Addition of ngx-slider for selecting range -->
<div class="dropdown-group">
  <label class="dropdown-label">Select Range:</label>
  <div class="dropdown-group2">
  <ngx-slider [(value)]="range[0]" [(highValue)]="range[1]" [options]="options"></ngx-slider>
  <!-- Custom Checkbox as a hook icon -->
  <div class="checkbox-group">
    <input type="checkbox" id="confirmRange" [(ngModel)]="useRange" (change)="onRangeChange()" hidden/>
    <label for="confirmRange" class="custom-checkbox">
      <i class="fas fa-check" *ngIf="useRange"></i> <!-- Hook icon shows only when checked -->
    </label>
  </div>
</div>
</div>

</div>

<!-- decisions.component.html -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
